<ion-menu side="start" contentId="menuContent">
  <app-user-card></app-user-card>
  <ion-content>
    <ion-list lines="none">
      <!-- <ion-item class="clickable" (click)="goToPage('')" detail>
        <ion-icon slot="start" color="white" name="home"></ion-icon> Home
      </ion-item>
      <ion-item class="clickable" (click)="goToPage('orders')" detail>
        <ion-icon slot="start" color="white" name="list"></ion-icon> Pedidos
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="menuContent"></ion-router-outlet>
