<ion-menu side="start" contentId="menuContent">
  <ion-content class="ion-padding">
      <p>
        Querido convidado, seja bem-vindo a nossa lista de presentes. Pensamos em tudo com muito carinho para que você se sinta à vontade para nos presentear com o que desejar!
      </p>

      <p>
        Preferência de cores: preto, branco e cinza.
      </p>

      <p>
        <strong>Chá de Casa Nova Larissa e Felipe</strong>
      </p>

      <p>
        <strong>Data:</strong> 15/07 sábado às 17h
      </p>

      <p>
      <strong>Local:</strong> Área de Lazer Recanto Fio Canova (Rua Luiz Carlos Benzatti, 966, Fio Canova - Dobrada)
      </p>
      <p>
        Sua presença é muito importante para nós!
      </p>
  </ion-content>
</ion-menu>

<ion-router-outlet id="menuContent"></ion-router-outlet>
