<ion-menu side="start" contentId="menuContent">
  <ion-content>
    <p>
      Oi, tudo bem? Nós gostaríamos de convidar você para o nosso Chá de Casa Nova!🏠
  </p>

  <p>
      <strong>Local:</strong> Área de Lazer Recanto Fio Canova, Rua Luiz Carlos Benzatti, 966, Fio Canova - Dobrada
      (<a href="http://bit.ly/3JnkBL4">como chegar</a>)
  </p>

  <p>
      <strong>Data:</strong> 15/07 sábado às 17h
  </p>

  <p>
      Para comemorar esse dia especial, o churrasco será por nossa conta, traga a sua bebida preferida!🥩🍻
  </p>

  <p>
      Esperamos que possam celebrar esse dia com a gente!🎉
  </p>

  <p>
      Confirme sua presença até 07/07.✅
  </p>

  </ion-content>
</ion-menu>

<ion-router-outlet id="menuContent"></ion-router-outlet>
