<ion-header>
  <ion-toolbar>
    <ion-title>Você confirma o presente {{ item.description }}?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Informe seu nome</ion-label>
        <ion-input formControlName="inputValue" type="text" required></ion-input>
      </ion-item>
      <ion-text *ngIf="form.controls['inputValue'].hasError('required') && submitted" color="danger">
        <p>Por favor, informe seu nome.</p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="cancel()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
