<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <ion-toolbar padding>
    <ion-title>Presentes</ion-title>
  </ion-toolbar>

  <div>
    <ion-searchbar animated="true" placeholder="Filtrar..." [(ngModel)]="term"></ion-searchbar>
    <ion-list *ngFor="let item of itens$ | async | customFilter: term">

      <ion-item class="clickable" *ngIf="item.status">
        <h1 slot="start">
          <app-order-status-badge></app-order-status-badge>
        </h1>
        <h6 class="text-justify"><strong>{{item.description}}</strong></h6>
        <ion-label slot="end">
          <p>Restante {{item.amount}}</p>
        <ion-button (click)="presentAlert(item)">Escolher</ion-button>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
