/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}

.clickable {
  // itens da lista
  --background: url("../src/assets/fundoxadrez.png") repeat
  cursor: pointer;
  transition-duration: 0.5s;
  transition: transform 0.5s;
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
  transition: background-color 1s;
  transition: transform 0.5s;
}

ion-content.custom-background {
  --background: url("../src/assets/fundoxadrez3.png") repeat;
}

.md body {
  --ion-background-color: url("../src/assets/fundoxadrez3.png") repeat;
  --ion-toolbar-background: linear-gradient(to right, #f9eef1, #e7c1cf);
  --ion-item-background: #f9eef1;
}

ion-title {
  color: #000000;
}

.searchbar-input.sc-ion-searchbar-md {
  background: linear-gradient(to right, #eedadf, #e7c1cf);
  color:black;
  font-weight: bolder;
}

//itens da lista
ion-list.md.list-md.hydrated {
  background: url("../src/assets/fundoxadrez3.png") repeat;
}

//#fdf1d1
ion-badge.ion-color.ion-color-primary.md.hydrated {
  background: #F3BAAD;
}

//Alert
.alert-wrapper.sc-ion-alert-md {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);
  background: #f9eef1;
  contain: content;
  opacity: 0;
  z-index: 10;
}

.alert-title.sc-ion-alert-md {
  color: #F3BAAD;
  font-size: 20px;
  font-weight: 500;
}

.teste{
  color: black;
  font-weight: bold;
}